body {
  margin: 0;
  padding: 0;
  font-size: 13px;
  font-family: Arial, Helvetica, sans-serif;
}
a {
  text-decoration: none;
  cursor: pointer;
}

header {
  width: 100%;
  height: 60px;
}
header nav {
  display: flex;
  justify-content: flex-end;
}
header nav .nav-right-section {
  width: 250px;
  height: auto;
  display: flex;
  list-style: none;
  justify-content: center;
  align-items: center;
}
nav .nav-right-section a {
  margin-right: 10px;
  color: #000000;
}
nav .nav-right-section a:hover {
  text-decoration: underline;
}
nav .nav-right-section .menu-icon {
  background-image: url("https://cdn1.iconfinder.com/data/icons/lightly-selected/30/grid-small-480.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 20px;
  height: 20px;
}
nav .nav-right-section img {
  border-radius: 50%;
  margin-left: 10px;
}

main {
  text-align: center;
}
main .main-logo {
  width: 530px;
  margin: 0 auto;
  margin-bottom: 30px;
}
main .main-logo img {
  width: 270px;
}
main .main-input {
  width: 530px;
  margin: 0 auto;
  margin-bottom: 35px;
}
main .main-input-container {
  position: relative;
  right: 40px;
  width: 584px;
  border-radius: 100px;
  border: 1px solid #dfe1e5;
  display: flex;
  justify-content: center;
  align-items: center;
}
main .main-input input {
  width: 450px;
  height: 40px;
  border: none;
  outline: none;
}
main .main-input-container:hover {
  box-shadow: 0 1px 6px 0 #20212447;
  border-color: #dfe1e500;
}
main .main-input .search-icon {
  position: relative;
  right: 20px;
  background-image: url("https://icon-library.com/images/google-search-icon/google-search-icon-7.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 15px;
  height: 15px;
}
main .main-input .micro-icon {
  position: relative;
  left: 20px;
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/e/e8/Google_mic.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

main .main-buttons {
  width: 530px;
  margin: 0 auto;
}
main .main-buttons div {
  display: inline-block;
}
main .main-buttons button {
  height: 36px;
  background-color: #f8f9fa;
  border: 1px solid #f8f9fa;
  outline: none;
  font-size: 14px;
  color: #5f6368;
  border-radius: 5px;
  padding: 0 15px;
  margin-right: 15px;
}
main .main-buttons button:hover {
  box-shadow: 0 1px 1px rgb(0 0 0 / 10%);
  background-color: #f8f9fa;
  border: 1px solid #dadce0;
  color: #202124;
}

footer {
  width: 100%;
  height: 50px;
  position: absolute;
  bottom: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  font-size: 13px;
  background-color: #f2f2f2;
  border-top: 1px solid #e4e4e4;
}
footer ul {
  margin: 10px;
  list-style: none;
  display: flex;
  padding-left: 0;
}
footer .footer-left {
  justify-self: left;
}
footer .footer-right {
  justify-self: right;
}
footer ul li a {
  margin: 10px;
  color: #5f6368;
}
